<div class="footer">
 <%= image_tag "https://cdn.shopify.com/s/files/1/0083/3106/7452/files/Ativo_3_3x_ed4a1ded-8916-42c1-b0c5-e2d04f83cfde_134x134_crop_center@2x.png?v=1559654194", style: "width: 130px; margin-bottom: 30px;" %>
  <p class="design-by">Design by:</p>
  <p>Telo de Castro</p>
  <%= link_to("https://github.com/Gittelo/WalliM_Cards_Website") do  %>
  <i class="fab fa-github fa-2x" style="color: white; padding-bottom: 20px;"></i>
  <% end %>

  </div>


