<div class="container">


      <div class="title text-center m-5">
      <h1>Thief Account</h1>
      </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="all-content">

        <div class="current-transaction-card">
          <div class="current-transaction-card-value text-center">
            <h2>+50€</h2>
          </div>
          <div class="current-transaction-card-info">
            <p>John Practical</p>
            <p>0123 4567 8901 2345</p>
          </div>
        </div>
        <div class="current-balance">
          <h2>€1,250.00</h2>
          <div class="current-balance-icon">
            <i class="fas fa-eye"></i>
            <p>Current balance</p>
          </div>
        </div>
    </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
