<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=635&q=80);">
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
      <%= image_tag "https://cdn.shopify.com/s/files/1/0083/3106/7452/files/Ativo_3_3x_ed4a1ded-8916-42c1-b0c5-e2d04f83cfde_134x134_crop_center@2x.png?v=1559654194", style: "width: 130px; margin-bottom: 30px;" %>
      <h1 class="mb-1">Cards Website</h1>
      <p class="mb-5">Be practical and Be safe</p>
      <%= link_to "Go to Bank", bank_path, class: "btn btn-flat" %>
      <%= link_to "Go to Transportation", transportation_path, class: "btn btn-flat-v2" %>
      </div>
    </div>
  </div>
</div>

