.footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.footer img {
  padding-top: 20px;
}

.footer p {
  margin-bottom: 0px;
}


